
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) { img[loading="lazy"] { clip-path: inset(0.6px) } }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Range Slider */
input[type=range]::-webkit-slider-thumb{
  pointer-events: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-black
}