@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply h-full p-0 m-0 scroll-smooth;
}

body {
  @apply bg-lightGray min-h-screen mx-0 my-auto leading-7 overflow-x-hidden;
}

body.dark {
  @apply bg-black;
}

/* Range Slider */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: black;
}
