@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply h-full p-0 m-0 scroll-smooth;
}

body {
  @apply bg-lightGray min-h-screen mx-0 my-auto leading-7 overflow-x-hidden;
}

body.dark {
  @apply bg-black;
}

/* Checkbox */
input[type="checkbox"] {
  transform: scale(1.1);
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
